*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
a:hover,
a:active,
a:focus,
input:hover,
input:active,
input:focus,
button:hover,
button:active,
button:focus {
  outline: 0;
}
body{
    width: 100%;
    height: 100vh;
    background: whitesmoke;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    width: 100%;
    padding: 5px;
    text-align: center;
    color: teal;
}
.app-container{
    height: 100vh;
}
.main-container{   
    background: rgb(223, 223, 223);
    background: lightgray;
    width: 650px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding: 0px 5px 5px 10px;
}   

.main-container > h1{
    text-align: center;
}

/* form container------------------------------- */
.form{
    background: lightgray;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding:5px 3px;
}
.form > form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}
.form > form >input{
    flex: 1;
    padding: 7px 10px;
    border-radius: 3px;
    border: none;
    font-size: medium;
}
.form > form > button{
    padding: 7px 10px;
    background: lightgray;     
    border: none;
    font-size: medium;
    border-radius: 3px;    
    margin-left: 10px;
}

.form > form > button:hover{ 
    color: teal;
    cursor: pointer;
}

.form > form > button:active{ 
    transform: scale(95%);
}

.result-container{
    display: flex;
    flex-direction: column;
    height: max-content;
}

.loading{
    display: none;
    text-align: center;
}
/* result container------------------------------ */
.title-bar{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}
.title-bar > h2{
    
    /* change font here */
}

.rating-card{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px;
}
.imdb-rating{
    font-size: large;
}

.rating-card  i{
    font-size: 2rem;
    color:rgb(255, 208, 0);
    margin-right: 2px;
}

.imdb-votes{
    font-size: small;
}

.info-container{
    width: 100%;
    display: flex;
    padding: 5px;
}

.image-container{
    height: 250px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container > img{
    object-fit: contain;
    height: 240px;
}

.text-container{
    padding: 10px 0 0 0 ;
    font-size: 0.9rem;
}

.text-container > p{
    padding:3px
}

.key{
    color: rgb(56, 52, 52);
}

.plot-container{
    padding:5px;
    text-align: justify;
    text-justify: inter-word;
}

/* --------not found-----------------------------------------  */
.not-found{
    display:none;
    text-align: center;
}

/* media queries */
@media screen and (max-width:650px){
    .main-container{
        width: 100%;
    }
    .info-container{
        flex-direction: column;
    }
    header > h1 , .title-bar > h1{
            font-size: x-large;
    } 
}