*{ margin: 0;}
body{
    width: 100%;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0cebeb; 
    background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); 
    background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); 
}

.app{
    transform: translateY(-20%);
}

.form{
    margin-top: 2rem;
    padding: 0 1rem;
    display: flex;
}
.form__input{
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    padding: 0.2rem 0.5rem;
    font-size: 1.2rem;
    background-color: transparent;
    font-weight: 500;
}
.form__input::placeholder{
    color: black;
    font-weight: 400;
}
.form__input:focus::placeholder{
    color: rgba(0, 0, 0, 0.459);
}

.form__btn{
    display: none;
}

.weather{
    user-select: none;
    text-align: center;
}
.weather__location{
    font-size: 4rem;
    font-weight: 300;
}

.weather__value{
    font-size: 3rem;
} 

.weather__unit{
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 0.7;
}

.weather__humidity, .weather__description{
    display: block;
    font-weight: 500;
}