* {
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  font-family: -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  background-color: #f5f5f5;
}

.app,
.pages {
  width: 100%;
  max-width: 500px;
}

.app {
  flex: 1;
}

.app-title,
.app-loading {
  text-align: center;
}
.app-title {
  margin: 1rem 0;
}

.app-loading {
  margin-top: 30vh;
}

.pages {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 0.2rem;
}
.btn {
  background-color: transparent;
  font-weight: 700;
  border-radius: 4px;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}
.btn:active {
  transform: scale(0.97);
}
.page-btn {
  border: 2px solid teal;
}
.page-btn.active {
  background: teal;
  color: white;
}
.next-btn,
.prev-btn {
  border: 2px solid darkslategray;
}
.next-btn:disabled,
.prev-btn:disabled {
  border: 2px solid rgb(72, 80, 80);
  cursor: not-allowed;
}

.user {
  display: flex;
  padding: 0.5rem;
  border: 2px solid rgb(129, 129, 129);
  border-radius: 5px;
  margin: 0.25rem;
}
.user-info {
  margin-left: 1rem;
}
.user-image {
  border-radius: 50%;
}
